# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Ambiente virtual
# ==============================

venv/
.venv/
env/
.env/

# ==============================
# Modelos treinados
# ==============================

models/*.pkl
models/*.joblib

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# Sistema operacional
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log
