# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Ambiente virtual
# ==============================

venv/
.venv/
env/
.env/

# ==============================
# Modelos treinados
# ==============================

models/*.pkl
models/*.joblib

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# Sistema operacional
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log
.vscode/
data/*
!data/.gitkeep
*.csv
*.tsv
*.xlsx
*.parquet
*.json
*.sqlite
*.db
models/*
!models/.gitkeep
*.pkl
*.pt
*.pth
*.h5
*.hdf5
*.onnx
*.joblib
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
.DS_Store
Thumbs.db
.ipynb_checkpoints/